.td,
.th,
.index{
  /* border: 1px solid black; */
  border-left: 1px solid ;
  border-top: 1px solid ;
  padding-left: 20px;
  padding-right: 20px;
  
}

.index{
  text-align: center;
}

.button{
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: rgb(235, 123, 43);
  border: none;

  cursor: pointer;
}

.select{
  height: 50px;
  text-align: center;
}

.filtering {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search input{
  all: unset;
  border-bottom: 1px solid;
  height: 30px;
  padding-left: 10px;
}

