.nav {
  background-color: aquamarine;
  padding: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  text-decoration: none;
}

.body {
  padding: 20px;
  margin-top: 80px;
}