.nav {
  background-color: rgb(235, 123, 43);
  padding: 3px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.nav a {
  text-decoration: none;
  color: black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.body {
  padding: 20px;
  margin-top: 80px;
}

.nav a:focus,
.active{
  background-color: white;
}


@media only screen and (max-width: 525px) {
  .nav {
    flex-direction: column;
  }
}