.nav {
  background-color: aquamarine;
  padding: 3px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.nav a {
  text-decoration: none;
  color: black;
}

.body {
  padding: 20px;
  margin-top: 80px;
}